body {
    background-color:blue;
    ;
}

h1{ 
    color: #001b74;

}
h3{
    color: #60143a;

}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 5%;  
}